# Ignore the local directory that temporarily stores csv files of patent data
scraping/download_patent_records

# Ignore txt files of scraped records
scraping/raw

# Ignore checkpoint folder for donwloading scraped txt files (converted to csv)
data_cleaning/checkpoint

# Ignore large csv files (see Google Drive link)
scraping/all_patents_link.csv
data_cleaning/patent_data_example.csv
data_cleaning/all_patent_info.csv

# Ignore checkpoint directory for spark session
network/spark_checkpoints

# Ignore large parquet data
network/data