<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Network Analysis</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">

</head>

<body>
<!-- site header -->
<header id="site-header" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="overview.html">
          <span class="fa fa-shield"></span> les deux mousquetaires

      </a>
      <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a class="nav-link" href="overview.html">Overview <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="trends.html">Clustering & Trends</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="network.html">Network Analysis</a>
          </li>
          </ul>
      </div>
  </nav>
</header>
<!-- //site header -->

<!-- service page breadcrumns -->
<section class="inner-banner">

</section>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-padding">
        <li class="breadcrumb-item"><a href="overview.html">Overview</a></li>
        <li class="breadcrumb-item active" aria-current="page">Network Analysis</li>
    </ol>
</nav>
<!-- service page breadcrumns -->

<!-- services page block 1 (Patent-Level Citation Network - Data Preparation) -->
<section class="w3l-features">
  <div class="call-w3">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                  <h4 class="section-title"><b>Patent-Level Citation Network - Data Preparation</b></h4>
                  <p class="text-center">We used Spark to prepare parquet files (network data of patent citations).</p>
              </div>
          </div>

          <!-- Degree Centrality Section -->
          <div class="row main-cont-wthree-2 mt-5">
              <div class="col-lg-6 feature-grid-left order2 mt-lg-0 mt-sm-5 mt-4">
                  <h4 class="title-left"><b>Data Preparation</b></h4>
                  <p class="text-para"> 
                    <ul>
                      <li>We first loaded the scraped patent data, converted the publication date column, and created additional columns for year and quarter.</li>
                      <li>Cluster information was processed and joined with the patent data (saved as <span style="color: #ff9900;">patent.parquet</span>).</li>
                      <li>Additionally, vertices and edges of the citation network were extracted and saved as <span style="color: #ff9900;">vertices.parquet</span> and <span style="color: #ff9900;">edges.parquet</span>.</li>
                    </ul> 
                  </p>
              </div>
              <div class="col-lg-6 feature-grid-right order1">
                  <img src="assets/images/pyspark_logo.jpeg" class="img-fluid img-shadow" alt="services">
              </div>
          </div>
                  <!-- <p class="text-para">
                    <ul>
                      <li>We first loaded the scraped patent data, converted the publication date column, and created additional columns for year and quarter.</li>
                      <li>Cluster information was processed and joined with the patent data.</li>
                      <li>The patent data was repartitioned, checkpointed, and saved as <i>patent.parquet</i>.</li>
                      <li>Additionally, vertices and edges of the citation network were extracted and saved as <i>vertices.parquet</i> and <i>edges.parquet</i>.
                    </ul> 
                  </p> -->
                  <!-- Degree Centrality Section -->
      </div>
  </div>
</section>
<!-- services page block 1 (Patent-Level Citation Network - Data Preparation) -->

<!-- services page block 2 (Patent-Level Citation Network - Calculate Centrality Measures) -->
<section class="w3l-features">
    <div class="call-w3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                    <h4 class="section-title"><b>Patent-Level Citation Network - Calculate Centrality Measures</b></h4>
                    <p class="text-center">We used Dask to perform the group-by and aggregate operations to derive the centrality measures 
                      for each patent keyword cluster.</p>
                </div>
            </div>

            <!-- Degree Centrality Section -->
            <div class="row main-cont-wthree-2 mt-5">
                <div class="col-lg-6 feature-grid-left order2 mt-lg-0 mt-sm-5 mt-4">
                    <h4 class="title-left"><b>Degree centrality</b></h4>
                    <p class="text-para"> 
                      <ul>
                        <li>Clusters 7 (<span style="color: #ff9900;">Authentication and Security</span>) and 9 (<span style="color: #ff9900;">Feature Extraction and Machine Learning</span>) have the highest degree centrality. </li>
                        <li>This indicates that patents in these clusters have more direct connections to other patents, 
                          signifying their importance and connectivity within the network. </li>
                      </ul>  
                    </p>
                </div>
                <div class="col-lg-6 feature-grid-right order1">
                    <img src="assets/images/centrality_cluster.png" class="img-fluid img-shadow" alt="services">
                </div>
            </div>

            <!-- PageRank Centrality Section -->
            <div class="row main-cont-wthree-2 mt-5">
                <div class="col-lg-6 feature-grid-right">
                    <img src="assets/images/pagerank_cluster.png" class="img-fluid img-shadow" alt="services">
                </div>
                <div class="col-lg-6 feature-grid-left mt-lg-0 mt-sm-5 mt-4">
                    <h4 class="title-left"><b>PageRank centrality</b></h4>
                    <p class="text-para">
                      <ul>
                        <li>The average PageRank scores for each cluster are relatively similar, indicating that patents across different clusters have a comparable level of influence in the citation network.</li>
                        <li>Clusters related to <span style="color: #ff9900;">General Machine Learning and Systems</span>, <span style="color: #ff9900;">Image Processing and Recognition</span>, and <span style="color: #ff9900;">Document Management and Text Processing</span> exhibit slightly higher average PageRank scores.</li>
                      </ul>  
                    </p>
                </div>
            </div>

             <!-- Betweenness Centrality Section -->
            <div class="row main-cont-wthree-2 mt-5">
              <div class="col-lg-6 feature-grid-left order2 mt-lg-0 mt-sm-5 mt-4">
                  <h4 class="title-left"><b>Betweenness Centrality</b></h4>
                  <p class="text-para">
                    <ul>
                      <li>The average betweenness centrality scores show significant variation, with Cluster 7 (<span style="color: #ff9900;">Authentication and Security</span>) having a notably higher score than other clusters.</li>
                      <li>This suggests that patents in the Authentication and Security cluster often serve as bridges connecting different parts of the network, highlighting their strategic importance in the flow of information.</li>
                    </ul> 
                  </p>
              </div>
              <div class="col-lg-6 feature-grid-right order1">
                  <img src="assets/images/betweenness_cluster.png" class="img-fluid img-shadow" alt="services">
              </div>
          </div>

          <!-- Closeness Centrality Section -->
          <div class="row main-cont-wthree-2 mt-5">
              <div class="col-lg-6 feature-grid-right">
                  <img src="assets/images/closeness_cluster.png" class="img-fluid img-shadow" alt="services">
              </div>
              <div class="col-lg-6 feature-grid-left mt-lg-0 mt-sm-5 mt-4">
                  <h4 class="title-left"><b>Closeness Centrality</b></h4>
                  <p class="text-para">
                    <ul>
                      <li>There is noticeable variation in the average closeness centrality among clusters.</li>
                      <li>Cluster 7 (<span style="color: #ff9900;"></span>Authentication and Security) shows the highest average closeness centrality, suggesting that patents in this cluster are more central and closer to all other nodes in the network.</li>
                      <li>Clusters related to <span style="color: #ff9900;">Sample Analysis and Training Models</span> (Cluster 3) and <span style="color: #ff9900;">Document Management and Text Processing</span> (Cluster 2) have lower average closeness centrality scores, indicating they are more peripheral in the network.</li>
                    </ul> 
                  </p>
              </div>
          </div>

        </div>
    </div>
</section>
<!-- services page block 2 (Patent-Level Citation Network - Calculate Centrality Measures)-->

<!-- services page block 3 (Patent-Level Citation Network - Calculate Knowledge Exploration Distance) -->
<section class="w3l-features">
  <div class="call-w3">
      <div class="container">
          <!-- Patent Characteristics Section -->
          <div class="row align-items-center">
              <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                  <h4 class="section-title"><b>Patent-Level Citation Network - Calculate Knowledge Exploration Distance</b></h4>
                  <p class="text-center">This section discusses various characteristics of patents within the AI field, highlighting different metrics such as the number of citations, innovation impact, and technological advancements across different clusters.</p>
              </div>
          </div>
          <!-- Add content for the new section here -->
          <div class="row main-cont-wthree-2 mt-5">
              <div class="col-lg-6 feature-grid-left order2 mt-lg-0 mt-sm-5 mt-4">
                  <h4 class="title-left"><b>Citation Analysis</b></h4>
                  <p class="text-para">
                    <ul>
                      <li>Analysis of citation patterns reveals significant insights into the influence and reach of patents in different clusters.</li>
                      <li>Clusters focusing on <span style="color: #ff9900;">General Machine Learning and Systems</span> and <span style="color: #ff9900;">Feature Extraction and Machine Learning</span> exhibit higher citation counts, indicating their pivotal role in AI research.</li>
                    </ul>  
                  </p>
              </div>
              <div class="col-lg-6 feature-grid-right order1">
                  <img src="assets/images/citation_analysis.png" class="img-fluid img-shadow" alt="Citation Analysis">
              </div>
          </div>
      </div>
  </div>
</section>
<!-- services page block 3 (Patent-Level Citation Network - Calculate Knowledge Exploration Distance) -->

<!-- /mobile section --->
<section class="w3l-mobile-content-6">
  <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
          <h4 class="section-title">Title</h4>
          <p>content<p>
            <div class="row align-items-center">
              <img src="assets/images/wordcloud.png" class="img-fluid img-shadow" alt="about">
          </div>
                  
        </div>
    </div>
</section>
<!-- //mobile section --->

<!-- site footer -->
<footer id="site-footer">
  <div class="top-footer">
    <div class="container my-md-5 my-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-logo mb-3">
            <a href="overview.html">
              <span class="fa fa-shield"></span> Acknowledgements

            </a>
          </div>
          <div>
            <p class="">We would like to thank Professor Jon Clindaniel for his excellent teaching and valuable advice throughout this course. We also extend our thanks to the course TAs, Adam and Wonje, for their timely assistance in addressing our questions.</p>
          </div>
        </div>
        <!-- Quick Links -->
        <div class="col-lg-3 col-md-4 mt-lg-0 mt-5">
          <h4 class="footer-title">Quick Links</h4>
          <ul class="footer-list">
            <li><a href="https://github.com/macs30123-s24/final-project-les-deux-mousquetaires/"> GitHub Repo</a></li>
            <li><a href="https://drive.google.com/drive/folders/1WVNa82HSAvxmRaRiNh5k4_ZN-g6WbEua?usp=drive_link"> Data Google Drive</a></li>
            <li><a href="trends.html"> Clustering & Trends</a></li>
            <li><a href="netwokr.html"> Network</a></li>
          </ul>
        </div>
        <!-- Newsletter -->
        <div class="col-lg-5 col-md-8 mt-lg-0 mt-5">
          <h4 class="footer-title">Members & Responsibilities</h4>
          <p class="mb-4">Guankun Li: Scraping, Clustering, and Network Analysis</p>
          </p>
          <p class="mb-4">Tianyue Cong: Scraping, Clustering, and Network Analysis</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</footer>
<!-- //site footer -->

<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>

<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- //move top -->

<!-- javascript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>

<!-- libhtbox -->
<script src="assets/js/lightbox-plus-jquery.min.js"></script>

<!-- particles -->
<script src='assets/js/particles.min.js'></script>
<script src="assets/js/script.js"></script>
<!-- //particles -->

<!-- owl carousel -->
<script src="assets/js/owl.carousel.js"></script>
<script>
  $(document).ready(function () {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      margin: 10,
      nav: true,
      loop: false,
      responsive: {
        0: {
          items: 1
        },
        767: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    })
  })
</script>

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="assets/js/bootstrap.min.js"></script>

</body>
</html>