<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Overview</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">

</head>

<body>
<!-- site header -->
<header id="site-header" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="overview.html">
          <span class="fa fa-shield"></span> les deux mousquetaires
      </a>
      <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a class="nav-link" href="overview.html">Overview <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="trends.html">Clustering & Trends</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="network.html">Network Analysis</a>
          </li>
          </ul>
      </div>
  </nav>
</header>
<!-- //site header -->

<!-- banner section -->
<section id="home" class="banner">
    <div id="banner-bg-effect" class="banner-effect"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 col-sm-12 order-lg-first mt-lg-0 mt-4">
                <h1 class="mb-4 title"><strong>Large-Scale Analysis of Patents in AI:</strong> <br><span style="font-size: 40px;">Trends and Network Insights</span>
                </h1>
                <p>This is the final project for MACS 30123 course Large-Scale Computing for the Social Sciences owned by Guankun Li and Tianyue Cong. 
                  In this project, we utilized high performance computing techniques to scrape information about patents in the field of artifical intelligence 
                  (between 2019 and 2023) and conduct large-scale analysis, including clustering and network analysis.</p>
                <div class="mt-5">
                    <a class="btn btn-primary btn-style mr-2" href="trends.html">Clustering & Trends </a>
                    <a class="btn btn-outline btn-outline-style" href="network.html">Network Analysis </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 order-first text-lg-left text-center">
                <div>
                    <img src="assets/images/banner-round.png" alt="" class="rounded-circle img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->

<!-- home page about -->
<section class="w3l-about">
    <div class="container">
        <div class="row about-content">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h3 class="title">Research Question</h3>
                <h6>1. Are there distinct subfields within the domain of AI patents? If so, what are the characteristics of these subfields?</h6><br>
                <h6>2. Which subfields of AI are more popular, and what trends do they exhibit? How might these subfields develop in the future?</h6><br>
                <h6>3. What are the characteristics of the patent network formed through citations in the AI field? Do patents in different subfields exhibit distinct network properties?</h6><br>
                <h6>4. TBD</h6>
            </div>
        </div>
    </div>
</section>
<!-- //home page about -->

<!-- home page service grids -->
<section id="services" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
        <h4 class="section-title">Social Science Significance</h4>
        <h6>1. Technological Trends and Innovation Dynamics</h6><br>
        <h6>2. Knowledge Flow and Innovation Clusters</h6><br>
        <h6>3. Interdisciplinary Connections</h6><br>
                
      </div>
  </div>
</section>
<!-- //home page service grids -->

<!-- home page service grids -->
<section id="services" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
        <h4 class="section-title">Computational Challenges and Scalability</h4>
        <p class="text-center">We encountered computational challenges, and to address these, we had to use scalable computing methods.</p>
      </div>
    </div>
    <div class="row mt-lg-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-briefcase"></span>
          </div>
          <h4><a href="#url">Scraping and Data Storage</a></h4>
          <p>Our project involved scraping a large volume of raw text data, exceeding 200GB.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-shield"></span>
          </div>
          <h4><a href="#url">NLP and Clustering</a></h4>
          <p>Processing and analyzing the vast amount of textual data for NLP and clustering presented significant computational challenges.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-dollar"></span>
          </div>
          <h4><a href="#url">Network Analysis</a></h4>
          <p>Constructing and analyzing a network with over 500,000 nodes and edges required substantial computational power.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-industry"></span>
          </div>
          <h4><a href="#url">Computing Strategy 1</a></h4>
          <p>AWS S3 and midway's mpi4py</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-lightbulb-o"></span>
          </div>
          <h4><a href="#url">Computing Strategy 2</a></h4>
          <p>PySpark</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-picture-o"></span>
          </div>
          <h4><a href="#url">Computing Strategy 3</a></h4>
          <p>PySpark and Dask</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //home page service grids -->


<!-- homepage blog grids -->
<section id="blog">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h4 class="section-title">Web Scraping</h4>
                <p class="text-center">We chose to scrape the patents related to artifical intelligence from 2019 to 2023 using Google Patents. We used midway3 to download a total of 382071 individual patents 
                  related to artifical intelligence (see download_patent_midway.py file).</p>
            </div>
        </div>
        <div class="blog-grids row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="assets/images/Selenium_Scraping.png" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">'selenium' package to dyanmically search and download AI patent records</a> </h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="assets/images/Example_Patent_Detail_Page.png" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">'request' package to retreive the details</a> </h3>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="assets/images/AWS_S3.png" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">For data storage, the scraped text of request responses are uploaded to aws s3 bucket (size of all patent records combined is over 200GB).</a> </h3>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //homepage blog grids -->

<!-- site footer -->
<footer id="site-footer">
  <div class="top-footer">
    <div class="container my-md-5 my-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-logo mb-3">
            <a href="overview.html">
              <span class="fa fa-shield"></span> Acknowledgements

            </a>
          </div>
          <div>
            <p class="">We would like to thank Professor Jon Clindaniel for his excellent teaching and valuable advice throughout this course. We also extend our thanks to the course TAs, Adam and Wonje, for their timely assistance in addressing our questions.</p>
          </div>
        </div>
        <!-- Quick Links -->
        <div class="col-lg-3 col-md-4 mt-lg-0 mt-5">
          <h4 class="footer-title">Quick Links</h4>
          <ul class="footer-list">
            <li><a href="https://github.com/macs30123-s24/final-project-les-deux-mousquetaires/"> GitHub Repo</a></li>
            <li><a href="https://drive.google.com/drive/folders/1WVNa82HSAvxmRaRiNh5k4_ZN-g6WbEua?usp=drive_link"> Data Google Drive</a></li>
            <li><a href="trends.html"> Clustering & Trends</a></li>
            <li><a href="netwokr.html"> Network</a></li>
          </ul>
        </div>
        <!-- Newsletter -->
        <div class="col-lg-5 col-md-8 mt-lg-0 mt-5">
          <h4 class="footer-title">Members & Responsibilities</h4>
          <p class="mb-4">Guankun Li: Scraping, Clustering, and Network Analysis</p>
          </p>
          <p class="mb-4">Tianyue Cong: Scraping, Clustering, and Network Analysis</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
</footer>
<!-- //site footer -->

<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>

<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- //move top -->

<!-- javascript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>

<!-- libhtbox -->
<script src="assets/js/lightbox-plus-jquery.min.js"></script>

<!-- particles -->
<script src='assets/js/particles.min.js'></script>
<script src="assets/js/script.js"></script>
<!-- //particles -->

<!-- owl carousel -->
<script src="assets/js/owl.carousel.js"></script>
<script>
  $(document).ready(function () {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      margin: 10,
      nav: true,
      loop: false,
      responsive: {
        0: {
          items: 1
        },
        767: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    })
  })
</script>

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="assets/js/bootstrap.min.js"></script>

</body>
</html>
